:root {
  background-color: black;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: stretch;
  height: 100vh;
  margin: 0 70px;
}

.App>header {
  width: 270px;
  border: 1px solid white;
}

.App>main {
  flex: 1;
  border: 1px solid white;
}