:root {
  background-color: black;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

.App>main {
  width: 990px;
  border-left: 1px solid #3a3a3a;
}